/*Il faut utiliser vw et vh pour les unités de dimension des images.*/


/*Importation de font-family externe*/
:root {
    --main-theme0-color:#d1a45b;
    --second-theme0-color:#782626;

    --main-theme1-color :#276873;
    --second-theme1-color:#fff;
    --indicator-color:#fff;
    --indicator-bg-color:#000;

    --f1-font-family: 'Inknut Antiqua', serif;
    --f2-font-family: 'MedievalSharp', cursive;
    --f3-font-family: 'Tangerine', cursive;
}

/*Design Mobile First*/
/*---------Section about 0px tp 320px  --------- */

*{
    box-sizing: border-box;
}

html{
    height:100%;
}

body{
    height:100%;
    width:100%;
    margin: 0 auto;
}

nav {
    background-color: rgba(255,255,255,0.25);
    width:100%;
    /*text-align:middle;*/
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:99;
}

h2{
    font-family: var(--f2-font-family);
    font-size: 9vw;
    margin-bottom: 0px;
    text-align: center;
}

h3 {
    font-family: var(--f3-font-family);
    font-size: 8vw;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 90%;
}

h4{
    font-family: var(--f3-font-family);
    font-size: 6vw;
    text-align: center;
    margin: 18px auto;
}

h5 {
    color: var(--second-color);
    font-family: var(--f1-font-family);
    font-size:1.8vw;
    font-style:italic;
    margin:0;
    padding:0;
}

button {
    border-radius: 5px;
    font-family: var(--f2-font-family);
    font-size: 3vw;
    font-style: italic;
    font-weight: bold;
    margin: 4px;
}

ol{
    font-size: 4vw;
    font-weight: bold;
    margin-left: 25vw;
    margin-right: auto;
}

li {
    font-family: var(--f1-font-family);
    font-size: 3vw;
    font-style: italic;
    font-weight: normal;
    text-align: left;
}

#userName {
    text-align: center;
}


#userName > h4 {
    display: inline-block;
}

#game_section {

}

#board_indicator {
    border-radius: 10px;
    margin:2px;
}

.indicator {
    color: var(--second-color);
    font-family: var(--f3-font-family);
    font-size: 2.2vw;
    font-weight: bold;
    margin:5px 0;
}

.indicatior_display {
    background-color: var(--text-color);
    color: var(--indicator-color);
    font-size: 2vw;
    height:5%;
    width: 40%;
    margin: 10px auto;
}

#indicator {
    text-align: center;
    margin: 20px;
    position: static;
}

#indicator > p {
    display: inline-block;
    font-family: var(--f2-font-family);
    font-style: italic;
    font-size:1vw;
    font-weight: bold;
}

#indicator > div {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px;
}

#gamebox {
    width: 800px;
    height: auto;
    margin: auto;
    font-size: 0;
}

.front, .back{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.container {
    display: inline-block;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.card {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    text-align: center;
    font-weight: bold;
    font-size: 0;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front > img, .back img {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.btn_left{
    float: left;
}

.btn_right{
    float: right;
}

#left_gamecontainer{
    width: 80%;
    height: 100%;
    display: inline-block;
}

#right_statscontainer {
    border-radius: 10px;
    float: right;
    text-align: center;
    width: 20%;
    height: 100%;
    display: inline-block;
}

#game {
    text-align: center;
}

.table_game{
    margin :auto;
}

#controler{
    text-align: center;
    margin: 30px 0;
    position: static;
}

#score{
    text-align: center;
}
#score > p {
    font-family: var(--f3-font-family);
    font-size: 5vw;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin:0;
    padding:0;
}

.div_list{
    width:300px;
    margin: 0 auto;
    text-align: center;
}

/*Test form*/
form {
    margin:auto;
    width: 500px;
}

form p {
    font-weight: bold;
}

#score{
    margin-top: 20px;
}

/*Fin Test From*/

@media only screen and (min-width: 320px) and (max-width: 479px){
    nav > button {
        font-size:3vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 639px){

    h2 {
        font-size: 7vw;
    }

    nav > button {
        font-size: 2vw;
    }
}

@media only screen and (min-width: 640px) and (max-width: 799px){

}

@media only screen and (min-width: 800px) and (max-width: 1080px){
    h2{
        font-size: 6vw;
    }

    button {
        font-size: 1.6vw;
    }

    #right_statscontainer {

    }
}

@media only screen and (min-width: 800px) and (max-width: 1079px){
    h2{
        font-size: 6vw;
    }

    button {
        font-size: 1.6vw;
    }
}


@media only screen and (min-width: 1080px) {
    h2{
        font-size: 5vw;
    }

    button {
        font-size: 1.6vw;
    }

}
/*--------   Fin du CSS --------*/
