/* Le container de la modal_box doit occuper toute la zone cliente */
.mb_container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 100;
}

.mb_container, .mb_background {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#new_game_lightbox > div {
    margin: 10px;
}

#new_game_lightbox > h2 {
    color: black;
    margin-top: 5px;
}

label {
    color: black;
}

input, select {
    float: right;
}

#new_game_lightbox > h4 {
    text-align: center;
}

#play_new_game {
    margin: auto;
}

#new_game_lightbox {
    background: white;
    display: none;
    margin: 100px auto;
    position: relative;
    width: 500px;
    padding: 20px;
    border: 10px solid #f2fa99;
    border-style: ridge;
}
