/*Il faut utiliser vw et vh pour les unités de dimension des images.*/

/*Design Mobile First*/
/*-------------------  Section about 0px tp 320px  ------------------- */

body{
    background:url("../images/bg_space.jpg") repeat top center;
}

#btn_theme img {
    content:url('../images/swap_white.png');
    /* */
}

h2{
    color: var(--second-theme1-color);
}
h3{
    color: var(--second-theme1-color);
}

h4{
    color: var(--second-theme1-color);
}

h5{
    color: var(--second-theme1-color);
}

button {
    -moz-box-shadow: 0px 10px 14px -7px var(--main-theme1-color);

    -webkit-box-shadow: 0px 10px 14px -7px var(--main-theme1-color);
    box-shadow: 0px 10px 14px -7px var(--main-theme1-color);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    vertical-align: middle;
    margin: 2px 2px;

}
button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}
button:active {
    position:relative;
    top:1px;
}

#right_statscontainer {
    background-color: var(--main-theme1-color);
}

#board_indicator {
    border: 3px solid var(--second-theme1-color);
}

#score > p {
    color:var(--second-theme1-color);
}

.indicator {
    color: var(--second-theme1-color);
}

.indicatior_display {
    background-color: var(--indicator-bg-color);
    color: var(--second-theme1-color);
}

li{
    color:var(--second-theme1-color);
}
