/*Il faut utiliser vw et vh pour les unités de dimension des images.*/

body{
    background: url("../images/bg_old.jpg") no-repeat top center;
}

#btn_theme img {
    content:url('../images/swap_brown.png');
}

h2{
    color: var(--second-theme0-color);
}

h3{
    color: var(--second-theme0-color);
}

h4{
    color: var(--second-theme0-color);
}

h5{
    color: var(--second-theme0-color);
}

button {
    background-color:var(--main-theme0-color);
    color: var(--second-theme0-color);
}

#right_statscontainer {
    background-color: var(--main-theme0-color);
}

#board_indicator {
    border: 3px solid var(--second-theme0-color);
}

#score > p {
    color:var(--second-theme0-color);
}

.indicator {
    color: var(--second-theme0-color);
}

.indicatior_display {
    background-color: var(--indicator-bg-color);
    color: var(--indicator-color);
}

li{
    color:var(--second-theme0-color);
}
